<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit CRUD</title>
</head>

<body>

    <div>
        <p>edit user</p>
    </div>
    <form action="/put-crud" method="POST">
        <div>
            <label for="">Email</label>

            <input type="email" value="<%= user.email %>" name="email">
        </div>
        <input type="text" value="<%= user.id %>" hidden name="id">
        <div>
            <label for="">name</label>
            <input type="text" value="<%= user.name %>" name="name">
        </div>

        <div>
            <label for="">phone</label>
            <input type="text" value="<%= user.phone %>" name="phone">
        </div>

        <div>
            <label for="">address</label>
            <input type="text" value="<%= user.address%>" name="address">
        </div>

        <button type="submit">save</button>
    </form>

</body>

</html>